/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* GENERALS */
html {
  font-size: 62.5%;
}


/* STYLE */
span {
  margin-bottom: 2rem;
}

body {
  padding: 5rem;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  /* align-items: center; */
  margin-left: 40%;
}

ul li {
  margin-bottom: 4px;
}

