/* https://www.figma.com/file/DYk9DZr6urB9MZ4iNt1a61/Desafio-HTML-%2B-CSS?type=design&node-id=3-36&mode=design&t=8nbE7qrAUWzEqcOH-0 */

:root {
  font-size: 62.5%;
}

body {
  font-family: "Public Sans", sans-serif;
  
}

.main {
  margin: 12rem 2rem;
  
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.card {
  display: flex;
  position: relative;
}

.card img {
  object-fit: cover;
}

.card .info {
  position: absolute;
  align-self: flex-end;
  
  color: white;
  padding: 4.5rem 2.5rem;

}

.card .info h2 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: .5rem;
}

.card .info p {
  font-size: 1.7rem;
  font-weight: 300;
}

